---
layout: default
title: Home
description: "The website for Tis_awesomeness, featuring Minecraft snapshot reverse engineering"
---

<h1>Minecord</h1>
<p>
  Minecord is a lightweight yet powerful Discord bot. It has useful commands for you Discord server such as server lookup, name history, a <b><em>recipe and item browser</em></b>, and much more. It's <a href="https://github.com/Tisawesomeness/Minecord">open source</a> too!
</p>
Invite the bot at <a href="https://minecord.github.io">https://minecord.github.io</a>.

<h1>Minecraft Reverse Engineering</h1>
<p>
  Every time Mojang releases a new snapshot, I peek inside the source code to figure out how new features work. I then share my findings with people in the technical Minecraft community and on the <a href="https://minecraft.wiki">wiki</a>.
</p>
<a href="/snapshots">Check out the findings here!</a>

<h1>Plugins</h1>
<ul>
  <li><a href="https://github.com/Tisawesomeness/BetterPreview">BetterPreview</a> - Processes Minecraft chat previews client-side to improve privacy, stability, and performance</li>
  <li><a href="https://www.spigotmc.org/resources/portalsuppressor.102508/">PortalSuppressor</a> - Prevents mobs from spawning in portals</li>
  <li><a href="https://www.spigotmc.org/resources/diamondnuggets.93665/">DiamondNuggets</a> - Adds a diamond nugget crafting recipe</li>
  <li><a href="https://www.spigotmc.org/resources/notoasts.103795/">NoToasts</a> - Disables warning toasts when needed</li>
</ul>

<h1>Recent Posts</h1>
<ul>
  {% for post in site.posts limit:3 %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
  {% endfor %}
  {% assign post_size = site.posts | size %}
  {% if post_size == 0 %}
    <li>
      None so far...
    </li>
  {% elsif post_size > 3 %}
    <li>
      <a href="/archive">More...</a>
    </li>
  {% endif %}
</ul>

