---
layout: default
title: "Portfolio"
---

<h1>About Me</h1>

My username is <code>Tis_awesomeness</code>, but you can call me <strong>Tis</strong>.
I'm a software engineer from North Carolina.
You may see me occasionally in the technical Minecraft and Discord developer communities.

<h1>Projects</h1>

<div tabindex=0 class="project-box" onclick="window.open('https://minecord.github.io', '_blank')">
  <img class="project-image" src="assets/project_minecord.png" alt="Discord screenshot of the Minecord bot showing the diamond sword recipe">
  <div class="project-inner">
    <div class="project-header">
      <h2 class="project-name">Minecord</h2>
      <a class="project-github" href="https://github.com/Tisawesomeness/Minecord" target="_blank" rel="noopener noreferrer">
        <i class="lab la-github"></i>
      </a>
    </div>
    <p class="project-description">A lightweight yet powerful Discord bot with Minecraft recipe browsing, server status, profile lookup, and more utilities.</p>
  </div>
</div>

<div tabindex=0 class="project-box" onclick="window.open('snapshots.html', '_blank')">
  <img class="project-image" src="assets/project_snapshots.png" alt="Minecraft screenshot of a copper golem walking towards a copper chest with its path highlighted">
  <div class="project-inner">
    <div class="project-header">
      <h2 class="project-name">Snapshot Reverse Engineering</h2>
    </div>
    <p class="project-description">An in-depth analysis of the source code for every new Minecraft snapshot, uncovering details not found in the changelogs.</p>
  </div>
</div>

<div tabindex=0 class="project-box" onclick="window.open('https://almaminer.net/', '_blank')">
  <img class="project-image" src="assets/project_almaminer.png" alt="Minecraft screenshot of multiple Ender Dragons flying around while players shoot at them">
  <div class="project-inner">
    <div class="project-header">
      <h2 class="project-name">Almaminer</h2>
    </div>
    <p class="project-description">
      Developer/sysadmin for a Minecraft server bringing students and professionals together after the pandemic.
      Custom work includes a revamped end fight, the Block Hunt minigame,
      <a href="https://github.com/Tisawesomeness/ForceWhitelist">several</a>
      <a href="https://github.com/Tisawesomeness/EndReset">custom</a>
      <a href="https://www.spigotmc.org/resources/portalsuppressor.102508/">plugins</a>,
      and contributions to <a href="https://viaversion.com/">ViaVersion</a> and <a href="https://breweryx.breweryteam.dev/">BreweryX</a>.
    </p>
  </div>
</div>

<div tabindex=0 class="project-box" onclick="window.open('https://www.spigotmc.org/resources/namehistorian.105172/', '_blank')">
  <div class="project-inner">
    <div class="project-header">
      <h2 class="project-name">NameHistorian</h2>
      <a class="project-github" href="https://github.com/Tisawesomeness/NameHistorian" target="_blank" rel="noopener noreferrer">
        <i class="lab la-github"></i>
      </a>
    </div>
    <p class="project-description">A plugin that records and displays name changes over time for players who join your server.</p>
  </div>
</div>

<div tabindex=0 class="project-box" onclick="window.open('https://modrinth.com/mod/cookiejar/', '_blank')">
  <div class="project-inner">
    <div class="project-header">
      <h2 class="project-name">CookieJar</h2>
      <a class="project-github" href="https://github.com/Tisawesomeness/CookieJar" target="_blank" rel="noopener noreferrer">
        <i class="lab la-github"></i>
      </a>
    </div>
    <p class="project-description">A Fabric mod allowing developers and server administrators to view and edit cross-server cookies.</p>
  </div>
</div>

<div tabindex=0 class="project-box" onclick="window.open('https://github.com/Tisawesomeness/ChunkDeputy', '_blank')">
  <div class="project-inner">
    <div class="project-header">
      <h2 class="project-name">ChunkDeputy</h2>
      <a class="project-github" href="https://github.com/Tisawesomeness/ChunkDeputy" target="_blank" rel="noopener noreferrer">
        <i class="lab la-github"></i>
      </a>
    </div>
    <p class="project-description">A plugin that pre-generates chunks when players are offline to improve server performance.</p>
  </div>
</div>

<div tabindex=0 class="project-box" onclick="window.open('https://www.spigotmc.org/resources/diamondnuggets.93665/', '_blank')">
  <div class="project-inner">
    <div class="project-header">
      <h2 class="project-name">DiamondNuggets</h2>
      <a class="project-github" href="https://github.com/Tisawesomeness/DiamondNuggets" target="_blank" rel="noopener noreferrer">
        <i class="lab la-github"></i>
      </a>
    </div>
    <p class="project-description">A plugin adding craftable "diamond nuggets" that players can trade.</p>
  </div>
</div>

<div tabindex=0 class="project-box" onclick="window.open('https://github.com/Tisawesomeness', '_blank')">
  <div class="project-inner">
    <div class="project-header">
      <h2 class="project-name">And More...</h2>
      <a class="project-github" href="https://github.com/Tisawesomeness" target="_blank" rel="noopener noreferrer">
        <i class="lab la-github"></i>
      </a>
    </div>
    <p class="project-description">More projects and open-source contributions are available on <a href="https://github.com/Tisawesomeness">GitHub</a>.</p>
  </div>
</div>

<h1>Recent Posts</h1>
<ul>
  {% for post in site.posts limit:3 %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
  {% endfor %}
  {% assign post_size = site.posts | size %}
  {% if post_size == 0 %}
    <li>
      None so far...
    </li>
  {% elsif post_size > 3 %}
    <li>
      <a href="/archive">More...</a>
    </li>
  {% endif %}
</ul>

