---
layout: default
title: Home
---

<h1>Minecord</h2>
<p>
  Minecord is a lightweight yet powerful Discord bot. It has useful commands for you Discord server such as server lookup, name history, a <b><em>recipe and item browser</em></b>, and much more. It's <a href="https://github.com/Tisawesomeness/Minecord">open source</a> too!
</p>
Invite the bot at <a href="https://minecord.github.io">https://minecord.github.io.</a>

<h1>Minecraft Reverse Engineering</h2>
<p>
  Every time Mojang releases a new snapshot, I peek inside the source code to figure out how new features work. You may even spot me on a few <a href="https://www.youtube.com/user/craigenegger">RaysWorks</a> testing streams.
</p>
<a href="/snapshots">Check out the findings here!</a>

<h1>Recent Posts</h2>
<ul>
  {% for post in site.posts limit:3 %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
  {% endfor %}
  {% assign post_size = site.posts | size %}
  {% if post_size == 0 %}
    <li>
      None so far...
    </li>
  {% elsif post_size > 3 %}
    <li>
      <a href="/archive">More...</a>
    </li>
  {% endif %}
</ul>

