// Custom
//
// Additional features added to Dark Poole theme, such as color previews

.color-preview {
  display: inline-block;
  border: 1px solid var(--border-color);
  border-radius: 0.3em;
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  margin-right: -0.1em;
}

